<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Author</title>
</head>
<body>
<form method="post">
    <br>
    <label for="FirstName">First Name</label><input type="text" id="FirstName" name="FirstName" value={{ .firstName}}>
    <br>
    <label for="LastName">Last Name</label><input type="text" id="LastName" name="LastName" value={{ .lastName}}>
    <br>
    <label for="Description">Description</label><input type="text" id="Description" name="Description" value={{ .desc}}>
    <br>
    <button type="submit">Change</button>
</form>
</body>
</html>