<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Author</title>
</head>
<body>
<form method="post">
    <br>
    <label for="FirstName">First Name</label><input type="text" id="FirstName" name="FirstName" placeholder="First Name" value="">
    <br>
    <label for="LastName">Last Name</label><input type="text" id="LastName" name="LastName" placeholder="Last Name (Patronymic)" value="">
    <br>
    <label for="Description">Description</label><input type="text" id="Description" name="Description" placeholder="Description" value="">
    <br>
    <button type="submit">Add</button>
</form>
</body>
</html>